// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,200');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import 'slack-sign-up';
//@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css');

// Calendar
@import '@fullcalendar/core/main.min.css';
@import '@fullcalendar/daygrid/main.min.css';

@import "timeline";

#calendar {
    min-height: 800px;
}

// Codey the computer
@import 'codey';
// Bootstrap switch checkbox lib
//@import "~bootstrap-switch/src/sass/bootstrap4/bootstrap-switch";
// Sharrre sharing lib
@import 'sharrre/src/sass/style';

// Full calendar events on the calendar don't use the right pointer
.fc-content {
    cursor: pointer;

    // Let the content in the calendar view wrap if need
    white-space: unset !important;
}

//
@import 'sweetalert2/src/sweetalert2';

.swal-wide {
    width: 50em !important;
}

// Custom CSS
.btn {
    text-decoration: none !important;
}

.vertical-divider {
    background-color: $text-muted;
    width: 0.2rem;
    margin: 0.3rem;
    height: 1.9rem;
}

body {
    min-width: 320px;
}

main {
    min-height: 500px;
}

.navbar-brand {
    .navbar-brand-img {
        height: 4rem;
    }
}

a {
    transition: 0.3s;

    text-decoration: underline;
}

.navbar-nav,
.page-footer {
    a {
        text-decoration: none;
    }

    .active {
        font-weight: 600;
    }
}

.page-footer {
    a {
        color: $gray-200;
    }

    .footer-social-icons,
    .footer-technology-icons {
        display: flex;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .footer-technology-icon-wrapper {
            .footer-technology-icon {
                height: 35px;
            }
        }

        .footer-social-icon-wrapper {
            .footer-social-icon {
                height: 65px;
            }
        }
    }

    .footer-copyright {
        font-size: 0.8rem;
        margin-top: 10px;

        a {
            color: $success;
            font-weight: bold;
        }
    }
}
#homepage {
    #homepage-jumbotron {
        color: white;
        background: url(img/hackgreenville-banner.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        z-index: 1;

        .overlay {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
        }

        .container {
            z-index: 3;
            position: relative;
        }
    }

    .page-title {
        font-size: 70px;

        @media (max-width: 400px) {
            font-size: 40px;
        }
    }

    .summary {
        font-size: 1.25rem;
    }
}

#about-us {
    ul {
        margin-left: -15px;
    }

    p,
    li {
        font-size: 1.25rem;
    }
}

.align-center {
    margin: 0 auto;
}

.swatch-holder {
    width: 88px;
    height: 88px;
    background: #e1e1e1;
    border: solid 1px #e1e1e1;
}

// Site colors
.bg {
    &-white {
        background-color: $white;
    }

    &-green {
        background-color: $green;
    }

    &-blue {
        background-color: $blue;
    }

    &-yellow {
        background-color: #ffa300;
    }

    &-purple {
        background-color: #201647;
    }

    &-gray {
        background-color: #c0c0c0;
    }

    &-off-white {
        background-color: $gray-100;
    }

    &-green {
        background-color: $green;
    }
}
.text {
    &-brown {
        color: #222222;
    }

    &-purple {
        color: #201647;
    }

    &-white {
        color: #ffffff;
    }

    &-black {
        color: #000000;
    }

    &-green {
        color: #006341;
    }

    &-gray {
        color: #202020;
    }
}

.noscroll {
    overflow: hidden;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;

    .fa-spin {
        position: relative;
        top: 50vh;
        left: 50vw;
        font-size: 50px;
    }
}

.screaming-hackgreenville-question {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;

    margin-bottom: 1rem;

    @media (max-width: 576px) {
        line-height: 0.8;
        font-size: 3.5rem;
        margin-bottom: 3rem;
    }
}

.card-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.gap-1 {
    gap: .75rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 1.25rem;
}

// FLEXIBLE ROWS
// These rows have a max of X columns while centering a lesser amount.
// This first iteration supports 3 columns. But sizes can be calculated
// using a mixin when more or fewer max columns become necessary.
.flex-row-3-columns {
    --gap: 2rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);

    h5 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.2em;
    }
}

.flex-row-column {
    display: flex;
    flex-direction: column;

    > :nth-last-child(2) {
        flex-grow: 1;
    }

    > :first-child + :last-child {
        margin-top: calc(var(--gap) / 4);
    }

    @at-root {
        .flex-row-3-columns > & {
            // 1/3 of available width minus both horizontal gaps
            width: calc((100% / 3) - (var(--gap) * 2 / 3));

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

@import 'about';
@import 'labs';
@import 'hg-nights';
@import 'rfs';
@import 'give';
