#hg-nights-jumbotron {
  background-image: linear-gradient(
      90deg,
      rgba(19,19,20,.7) 0%,
      rgba(14,10,31,.7) 35%,
      rgba(32,23,72,.7) 100%
    ),
    url(img/hg-nights-sm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.action-btn {
  margin: 5px 0px 5px 0px;
}
