#jumbotron-image {
    min-height: 30em;
    background-color: white;
    background: url(img/labs.png) no-repeat top left;
    background-position-x: 0;
    position: relative;
}

.project {
    transition: ease-in-out;
    transition-property: all;
    transition-duration: 150ms;

    &:hover {
        background-color: #eee;
    }
}
