// Variables can be found here - node_modules/bootstrap/scss/_variables.scss

// Theme colors
$primary: #201748;

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-base: "Lato", sans-serif;

//$link-color: rgb(27, 107, 0); //kind of green
