// Variables can be found here - node_modules/bootstrap/scss/_variables.scss
//@import "node_modules/bootstrap/scss/variables";


// Body
$body-bg: #f5f8fa;

// Typography
$font-family-base: "Lato", sans-serif;

$green: #006341;
$white: #FAF9FB;
$primary: #201748	;
//Charade
$info: #292634	;
//Aqua Forest
$success: #60ae6d	;
//Golden Grass
$warning: #de9d35	;
//Pomegranate
$dange: #f44336	;
