// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'slack-sign-up';
// Calendar
@import "~@fullcalendar/core/main.min.css";
@import "~@fullcalendar/daygrid/main.min.css";
// Codey the computer
@import "codey";

// Full calendar events on the calendar don't use the right pointer
.fc-content {
  cursor: pointer;
}

// Swal
@import '~sweetalert2/src/sweetalert2';
.swal-wide {
  width: 50em !important;
}

.vertical-divider {
  background-color: $text-muted;
  width: .2rem;
  margin: 0.3rem;
  height: 1.9rem;
}

body {
  min-width: 320px;
}

main {
  min-height: 500px;
}

.navbar-brand {
  .navbar-brand-img {
    height: 4rem;
  }

}

a {
  transition: 0.3s;

  text-decoration: underline;
}

.navbar-nav, .page-footer {
  a {
    text-decoration: none;
  }

  .active {
    font-weight: 600;
  }
}

.page-footer {
  a {
    color: $gray-200
  }
}

.homepage {
  &.carousel {
    .carousel-item {
      img {
        height: 100%;
        width: 100% !important;
      }

      height: 400px !important;

      @media (max-width: 768px) {
        height: 295px !important;
      }

      @media (max-width: 480px) {
        height: 218px !important;
      }

      @media (min-width: 1200px) {
        height: 500px !important;
      }

    }
  }
}

.align-center {
  margin: 0 auto;
}

.swatch-holder {
  width: 88px;
  height: 88px;
  background: #e1e1e1;
  border: solid 1px #e1e1e1;
}

// Site colors
.bg {

  &-white {
    background-color: #ffffff;
  }

  &-green {
    background-color: #005b3c;
  }

  &-blue {
    background-color: #201748;
  }

  &-yellow {
    background-color: #ffa300;
  }

  &-purple {
    background-color: #201647;
  }

  &-gray {
    background-color: #c0c0c0;
  }

  &-off-white {
    background-color: #f4f4f4;
  }

  &-green {
    background-color: #006341;
  }
}

.text {

  &-brown {
    color: #222222;
  }

  &-purple {
    color: #201647;
  }

  &-white {
    color: #ffffff;
  }

  &-black {
    color: #000000;
  }

  &-green {
    color: #006341;
  }

  &-gray {
    color: #202020;
  }
}
