.slack-signup {
  html {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }

  iframe {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 0;

  }

  .css-1l99lqu {
    border-radius: 0;
    display: block;
    height: 2px;
    width: 25px;
    position: absolute;
    right: 6px;
    top: 6px;

  }

  .__typeform-embed-mobile-modal-open {
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;

  }

  .css-bhl88l {
    -webkit-transition: visibility 0s 0.25s, opacity 0.25s linear;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
    visibility: hidden;
    opacity: 0;

  }
}
